*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home-banner{
   
    background-image: url(./child\ img.webp);
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-position: top;
    background-size: cover;
    height: 100vh;
}
.header{
    width: 100%;
    position: fixed;
}

.nav{
   
}
.flex{
    display: flex;
    margin-left: 30px;
    gap: 20px;
    padding-top: 20px;
}
.fa-bars-staggered{
    font-size: 20px;
}

ul{
    display: flex;
    gap: 30px;
    margin-left: 30px;
    
}
li{
    display: flex;
}
a{

    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 15px;
}
.container{
    width: 100%;
   margin: 0 auto;
   
    
    box-sizing: border-box;
}
.main{
    display: flex;
    justify-content: space-between; 
    align-items: center;
     margin-right: 30px;
}
.search{
    display: flex;
    justify-content: end;
    font-size: 30px;
    margin-right: 10px;
}

.fa-bag-shoping{
   display: flex;
   justify-content: end;
  color: white;
  
}
.bg-video a{
    width: 100%;
}
 .mobile-img{
    background-image: url(./cell-banner-2.webp);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.newsletter{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 40px;
}
.horizental{
    margin-left: 30%;
    margin-right: 30%;
    
}
.email{
    display: flex;
    justify-content: space-between;
   padding: 15px;
}
footer .fter-container{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.box-p{
width: 100%;
display: flex;
justify-content: space-between;
padding: 30px;

}
.box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.end-content{
    color: white;
    background-color: black;
    height: 30px;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .main{
        flex-wrap: wrap;
    }
    .search{
        flex-wrap: wrap;
    }
    .box{
        flex-wrap: wrap;
    }
    .box-p{
        flex-wrap: wrap;
    }
    .logo img{
        max-width: 100px;
    }
}
